header{
    
    position: relative;
}
.hero_section{
    height: 100vh;
    background-image: url(/public/assets/images/hero-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    z-index: 99;
}
.btn-warning{
    background-color: #f7b40c !important;
}
.text-warning{
    color: #f7b40c !important;
}

.fontSize60{
    font-size: 60px;
}
.fontSize35{
    font-size: 35px;
}
.fontSize45{
    font-size: 45px;
}
.fontSize17{
    font-size: 17px;
}
.fontSize18{
    font-size: 18px;
}
a{
    text-decoration: none;
    color: #1b1e1f;
}
@media (max-width: 700px) { 
    .fontSize60{
        font-size: 40px;
    }

    .hero_section{
        height: 115vh;
    }
    .navbar-collapse{
        background-color: white !important;
        padding: 15px 0px 15px 25px;
        box-shadow: 0 0 5rem rgba(99, 99, 99, 0.416);
        border-radius: 10px;
    }
 }




 .height_100{
    height: 100%;
 }